.parallaxSection {
  position: relative;
  height: 100vh;
  background: url('./assets/bg.png') 50% / cover no-repeat,
              url('./assets/grid\ hero.png') #9059FF fixed 50% / cover no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftContainer {
  position: relative;
  /* border: 2px solid green; */
  top: -24%;
  left: -35%;
}

.theBox {
  position: absolute;
  top: 2.5rem;
  left: -4rem;
  border: 7.341px solid #000;
  background: #FFF;
  width: 8.92856rem;
  height: 5.54456rem;
  color: #000;
  font-family: Futura;
  font-size: 3.5em;
  font-weight: 700;
  line-height: normal;
  padding: 0.1rem 0 0 0.8rem;
  z-index: 10;
}

.boxLeft,
.boxRight {
  position: absolute;
  width: 25rem;
  height: 16rem;
}

.boxLeft {
  background: #FFEA7F;
  stroke-width: 6.559px;
  stroke: #000;
  filter: drop-shadow(21.64362335205078px 16.396682739257812px 0.7278012037277222px #000);
  font-family: Futura;
  font-size: 3.5em;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 5.5rem 0 0 0;
  border: 7.341px solid #000;
}

.boxRight {
  top: 26%;
  right: 15%;
  border: 2.748px solid #000;
  background: #FFF;
  box-shadow: 14px 14px 0px 0px #FFC5D3;
  text-align: center;
  font-family: MesloLGM Nerd Font Mono;
  font-size: 2em;
  font-weight: 700;
  line-height: 4rem;
}

.linkContainer {
  position: absolute;
  bottom: 4rem;
  width: 28.75rem;
  height: 3.875rem;
  fill: #CCE3FF;
  stroke-width: 2px;
  stroke: #000;
  transform: translate(50%,-20rem);
  filter: drop-shadow(10.814352035522461px 7.674700736999512px 0.4651334583759308px #000);
}

.linkContainer a {
  position: absolute;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  padding: 0.8rem 0 0.8rem 0;
  background-color: #3498db;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Responsive styles */
@media screen and (max-width: 1250px) {
  .leftContainer {
    top: -23%;
    left: -35%;
  }
  .theBox {
    top: 2.5rem;
    left: -3rem;
    width: 6.5rem;
    height: 5rem;
    font-size: 2.3em;
    padding: 0.5rem 0 0 0.8rem;
  }
  .boxLeft {
    width: 20rem;
    height: 14rem;
    font-size: 2.3em;
  }
  .boxRight {
    top: 27%;
    right: 10%;
    width: 20rem;
    height: 14rem;
    font-size: 1.8em;
  }
}

/* Responsive styles */
@media screen and (max-width: 950px) {
  .leftContainer {
    top: -20%;
    left: -40%;
  }
  .theBox {
    top: 2.4rem;
    left: -3rem;
    width: 6rem;
    height: 4.5rem;
    font-size: 2.1em;
    padding: 0.6rem 0 0 0.8rem;
  }
  .boxLeft {
    width: 19rem;
    height: 13rem;
    font-size: 2.3em;
    padding: 4.8rem 0 0 0;
  }
  .boxRight {
    top: 30%;
    right: 5%;
    width: 19rem;
    height: 13rem;
    font-size: 1.6em;
  }
}
@media screen and (max-width: 768px) {
  .parallaxSection {
   display: block; /* Change to block for vertical stacking */
  }

  .leftContainer {
    top: 25%;
    left: 18%;
  }

  .boxLeft,
  .boxRight {
   
    width: 24rem;
  }
  .boxRight{
    top: 35%;
    left: 18%;
  }

  .linkContainer {
    position: absolute;
    bottom: 4rem;
    left: 20%;
    width: 24rem;
  }
}

@media screen and (max-width: 550px) {

  .leftContainer {
    top: 22%;
    left: 13%;
  }

  .boxLeft,
  .boxRight {
   
    width: 22rem;
  }
  .boxRight{
    top: 35%;
    left: 13%;
  }

  .linkContainer {
    position: absolute;
    bottom: 4rem;
    left: 15%;
    width: 22rem;
  }
}

@media screen and (max-width: 460px) {

  .leftContainer {
    top: 22%;
    left: 13%;
  }

  .boxLeft,
  .boxRight {
   
    width: 18rem;
  }
  .boxRight{
    top: 35%;
    left: 13%;
  }

  .linkContainer {
    position: absolute;
    bottom: 4rem;
    left: 15%;
    width: 18rem;

  }
  .linkContainer a{
    font-size: 1em;
  }
}

@media screen and (max-width: 370px) {

  .leftContainer {
    top: 25%;
    left: 10.5%;
  }
  
  .theBox {
    top: 2.7rem;
    left: -2rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 1.8em;
    padding: 0.5rem 0 0 0.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 16rem;

  }
  .boxRight{
    top: 38%;
    left: 10.5%;
  }

  .linkContainer {
    left: 16%;
    width: 15rem;

  }
 
}
