.parallaxSection {
  position: relative;
  height: 100vh;
  background: url('./assets/bg.png') 50% / cover no-repeat,
              url('./assets/grid\ hero.png') #9059FF fixed 50% / cover no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftContainer {
  position: relative;
  top: -24%;
  left: -35%;
}

.theBox {
  position: absolute;
  top: 2.5rem;
  left: -4rem;
  border: 7.341px solid #000;
  background: #FFF;
  width: 8.92856rem;
  height: 5.54456rem;
  color: #000;
  font-family: url('./assets/futura/futur.ttf');
  font-size: 3.5em;
  font-weight: 700;
  line-height: normal;
  padding: 0.1rem 0 0 0.8rem;
  z-index: 10;
}

.boxLeft,
.boxRight {
  position: absolute;
  width: 25rem;
  height: 16rem;
}

.boxLeft {
  background: #FFEA7F;
  stroke-width: 6.559px;
  stroke: #000;
  filter: drop-shadow(21.64362335205078px 16.396682739257812px 0.7278012037277222px #000);
  font-family: url('./assets/futura/futur.ttf');
  font-size: 3.5em;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 5.5rem 0 0 0;
  border: 7.341px solid #000;
}

.boxRight {
  top: 26%;
  right: 15%;
  border: 2.748px solid #000;
  background: #FFF;
  box-shadow: 14px 14px 0px 0px #FFC5D3;
  text-align: center;
  font-family: url('./assets/Meslo/MesloLGLDZNerdFontMono-Regular.ttf');
  font-size: 2em;
  font-weight: 700;
  line-height: 4.5rem;
  padding-top:2rem;
}

.linkContainer {
  position: absolute;
  bottom: 7rem;
  width: 28.75rem;
  height: 3.875rem;
  stroke-width: 2px;
  stroke: #000;
  transform: translate(50%,-20rem);
  filter: drop-shadow(10.814352035522461px 7.674700736999512px 0.4651334583759308px #000);
  font-family: url('./assets/Meslo/MesloLGLDZNerdFontMono-Regular.ttf');

}

.linkContainer a {
  position: absolute;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  padding: 0.8rem 0 0.8rem 0;
  background-color: #CCE3FF;
  border: 4px solid black;
  border-radius: 1.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

/* Responsive styles */
@media screen and (max-width: 1250px) {
  .leftContainer {
    top: -23%;
    left: -35%;
  }
  .theBox {
    top: 2.5rem;
    left: -3rem;
    width: 6.5rem;
    height: 5rem;
    font-size: 2.3em;
    padding: 0.5rem 0 0 0.8rem;
  }
  .boxLeft {
    width: 20rem;
    height: 14rem;
    font-size: 2.3em;
  }
  .boxRight {
    top: 27%;
    right: 10%;
    width: 20rem;
    height: 14rem;
    font-size: 1.8em;
  }
}

/* Responsive styles */
@media screen and (max-width: 950px) {
  .leftContainer {
    top: -20%;
    left: -40%;
  }
  .theBox {
    top: 2.4rem;
    left: -3rem;
    width: 6rem;
    height: 4.5rem;
    font-size: 2.1em;
    padding: 0.6rem 0 0 0.8rem;
  }
  .boxLeft {
    width: 19rem;
    height: 13rem;
    font-size: 2.3em;
    padding: 4.8rem 0 0 0;
  }
  .boxRight {
    top: 30%;
    right: 5%;
    width: 19rem;
    height: 13rem;
    font-size: 1.6em;
  }
}

@media screen and (max-width: 768px) and (max-height:920px) {
  .parallaxSection {
   display: block; 
   
  }

  .leftContainer {
    top: 25%;
    left: 25%;
  }
  .theBox {
    top: 2.8rem;
   
  }
  .boxLeft,
  .boxRight {
   
    width: 24rem;
  }

  .boxRight{
    top: 36%;
    left: 25%;
    font-size: 1.9em;

  }

  .linkContainer {
    position: absolute;
    bottom: 8rem;
    left: 26%;
    width: 24rem;
  }
}

@media screen and (max-width: 655px) and (max-height:920px){

  .leftContainer,.boxRight,.linkContainer {
    left: 20%;
  }
}

@media screen and (max-width: 597px) and (max-height:920px) {

  .leftContainer {
    top: 24%;
  }

  .boxLeft,
  .boxRight {
    height: 11rem;

    width: 22rem;
  }
  .theBox {
    top: 2rem;
   
  }
  .boxLeft{
    font-size: 2em;
    padding: 4rem 0 0 0;
  }
  .boxRight{
    top: 34%;
    line-height: 3.5rem;
  }

  .linkContainer {
    position: absolute;
    bottom: 9rem;
    width: 22rem;
  }
}

@media screen and (max-width: 525px) and (max-height:920px) {

  .leftContainer {
    left: 15%;
  }

  .boxLeft,
  .boxRight {
    height: 11rem;

    width: 22rem;
  }
 
  .boxLeft{
    font-size: 2em;
    padding: 4rem 0 0 0;
  }
  .boxRight{
    left: 15%;
    line-height: 3.5rem;
  }

  .linkContainer {
    position: absolute;
    bottom: 10rem;
    left: 15%;
    width: 22rem;
  }
}

@media screen and (max-width: 480px) and (max-height:920px){

  .leftContainer {
    left: 17%;
  }
  .theBox {
    left: -2.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 20rem;
  }
  .boxRight{
    left: 17%;
    font-size: 1.7em;

  }

  .linkContainer {
    position: absolute;
    left: 17%;
    width: 20rem;

  }
  .linkContainer a{
    font-size: 1em;
  }
}

@media screen and (max-width: 435px) and (max-height:920px){

  .leftContainer {
    left: 15%;
  }
  
  .theBox {
    top: 2.2rem;
    left: -2rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 1.8em;
    padding: 0.5rem 0 0 0.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 18rem;

  }
  .boxRight{
    left: 15%;
    font-size: 1.65em;
    line-height: 2.7rem;
  }

  .linkContainer {
    left: 15%;
    width: 18rem;

  }
 
}

@media screen and (max-width: 380px) and (max-height:920px){

  .leftContainer {
    left: 15%;
  }
  
  .theBox {
    top: 2.2rem;
    left: -2rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 1.8em;
    padding: 0.5rem 0 0 0.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 16rem;

  }
  .boxRight{
    left: 15%;
    font-size: 1.65em;
    line-height: 2.7rem;
  }

  .linkContainer {
    left: 15%;
    width: 16rem;

  }
 
}

@media screen and (max-width: 350px) and (max-height:920px){

  .leftContainer {
    left: 13%;
  }
  
  .theBox {
    top: 2.2rem;
    left: -2rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 1.8em;
    padding: 0.5rem 0 0 0.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 16rem;

  }
  .boxRight{
    left: 13%;
    font-size: 1.65em;
    line-height: 2.7rem;
  }

  .linkContainer {
    left: 13%;
    width: 16rem;

  }
 
}

@media screen and (max-width: 768px) and (max-height:820px) {

  .leftContainer {
    top: 23%;
    left: 25%;
  }
 
  .boxLeft,
  .boxRight {
   
    width: 24rem;
  }

  .boxRight{
    top: 34%;
    left: 25%;
    font-size: 1.9em;

  }

  .linkContainer {
    position: absolute;
    bottom: 5rem;
    left: 26%;
    width: 24rem;
  }
}

@media screen and (max-width: 655px) and (max-height:820px){

  .leftContainer,.boxRight,.linkContainer {
    left: 20%;
  }
}

@media screen and (max-width: 597px) and (max-height:820px) {

  .leftContainer {
    top: 23%;
  }

  .boxLeft,
  .boxRight {
    height: 11rem;

    width: 22rem;
  }
  .theBox {
    top: 2rem;
   
  }
  .boxLeft{
    font-size: 2em;
    padding: 4rem 0 0 0;
  }
  .boxRight{
    top: 32%;
    line-height: 3.5rem;
  }

  .linkContainer {
    position: absolute;
    bottom: 8rem;
    width: 22rem;
  }
}

@media screen and (max-width: 525px) and (max-height:820px) {

  .leftContainer {
    top: 21%;
    left: 15%;
  }

  .boxLeft,
  .boxRight {
    height: 11rem;

    width: 22rem;
  }
 
  .boxLeft{
    font-size: 2em;
    padding: 4rem 0 0 0;
  }
  .boxRight{
    top: 31%;
    left: 15%;
    line-height: 3.5rem;
  }

  .linkContainer {
    position: absolute;
    left: 15%;
    width: 22rem;
  }
}

@media screen and (max-width: 480px) and (max-height:820px){

  .leftContainer {
    left: 17%;
  }
  .theBox {
    left: -2.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 20rem;
  }
  .boxRight{
    left: 17%;
    font-size: 1.7em;

  }

  .linkContainer {
    position: absolute;
    left: 17%;
    width: 20rem;

  }
  .linkContainer a{
    font-size: 1em;
  }
}

@media screen and (max-width: 435px) and (max-height:820px){

  .leftContainer {
    left: 15%;
  }
  
  .theBox {
    top: 2.2rem;
    left: -2rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 1.8em;
    padding: 0.5rem 0 0 0.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 18rem;

  }
  .boxRight{
    left: 15%;
    font-size: 1.9em;
    line-height: 2.6rem;
  }

  .linkContainer {
    left: 15%;
    width: 18rem;

  }
 
}

@media screen and (max-width: 380px) and (max-height:820px){

  .leftContainer {
    left: 15%;
  }
  
  .theBox {
    top: 2.2rem;
    left: -2rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 1.8em;
    padding: 0.5rem 0 0 0.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 16rem;

  }
  .boxRight{
    left: 15%;
    font-size: 1.65em;
    line-height: 2.7rem;
  }

  .linkContainer {
    left: 15%;
    width: 16rem;

  }
 
}

@media screen and (max-width: 350px) and (max-height:820px){

  .leftContainer {
    left: 13%;
  }
  
  .theBox {
    top: 2.2rem;
    left: -2rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 1.8em;
    padding: 0.5rem 0 0 0.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 16rem;

  }
  .boxRight{
    left: 13%;
    font-size: 1.65em;
    line-height: 2.7rem;
  }

  .linkContainer {
    left: 13%;
    width: 16rem;

  }
 
}
@media screen and (max-width: 1250px) and (max-height:720px) {
  .leftContainer {
    top: -27%;
  }

  .boxRight {
    top: 23%;
  }
}
@media screen and (max-width: 950px) and (max-height:720px) {
  .leftContainer {
    top: -25%;
  }

  .boxRight {
    top: 25%;
  }
}
@media screen and (max-width: 768px) and (max-height:720px) {


  .leftContainer {
    top: 24.5%;
    left: 25%;

  }
  .theBox {
    top: 1.7rem;
   
  }
  .boxLeft,
  .boxRight {
   height: 10rem;
    width: 24rem;
  }
.boxLeft
{
  padding: 2.5rem 0 0 0;

}
  .boxRight{
    top: 33.5%;
    left: 25%;
    font-size: 1.9em;
    line-height: 3rem;

  }

  .linkContainer {
    position: absolute;
    bottom: 6rem;
    left: 27%;
    width: 24rem;
  }
}

@media screen and (max-width: 635px) and (max-height:720px){

  .leftContainer,.boxRight,.linkContainer {
    left: 18%;
  }
}

@media screen and (max-width: 580px) and (max-height:720px) {

  .leftContainer {
    top: 20.5%;
    left: 17%;
  }

  .boxRight{
    top: 29%;
    left: 17%;
    line-height: 3.2rem;
  }

  .linkContainer {
    position: absolute;
    bottom: 8rem;
    left: 18%;
    width: 24rem;
  }
}

@media screen and (max-width: 500px) and (max-height:720px) {

  .leftContainer {
    left: 17%;
  }

  .boxLeft,
  .boxRight {
    width: 20rem;
  }
 

  .boxRight{
    left: 17%;
    line-height: 3.1rem;
  }

  .linkContainer {
    position: absolute;
    bottom: 8rem;
    left: 19%;
    width: 20rem;
  }
}

@media screen and (max-width: 460px) and (max-height:720px){

  .leftContainer {
    top: 21%;
    left: 17%;
  }
  .theBox {
    top: 1.9rem;
    left: -2.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 18rem;
  }
  .boxRight{
    top: 30%;
    left: 17%;
    font-size: 1.7em;

  }

  .linkContainer {
    position: absolute;
    left: 17%;
    width: 18rem;
    bottom: 7rem;

  }
  .linkContainer a{
    font-size: 1em;
  }
}

@media screen and (max-width: 385px) and (max-height:720px){

  .leftContainer {
    top: 22%;
    left: 15%;
  }
  
  .theBox {
    top: 1.9rem;
    left: -2rem;
    width: 5.5rem;
    height: 4rem;
    font-size: 1.8em;
    padding: 0.5rem 0 0 0.5rem;
  }

  .boxLeft,
  .boxRight {
   
    width: 16rem;

  }
  .boxRight{
    top: 31%;
    left: 15%;
    font-size: 1.65em;
    line-height: 2.4rem;
  }

  .linkContainer {
    left: 15%;
    width: 16rem;
    bottom: 6rem;

  }
 
}
