/* Navbar.css */

.navbar {
  width: 100%;
  display: flex;
  padding: 0rem 1rem 0rem 1rem;
  justify-content:space-around;
  align-items: center;
background: #FFF;
  }
  .logo{
    width: 15rem;
  }
 
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    gap: 3rem;
    border-left:0.2rem solid #000;
    padding-left: 3rem;
    font-family: url('./assests/futura/futura\ medium\ bt.ttf');
  }

  .nav-links a {
    text-decoration: none;
    color: #333;
    margin: 1rem 0rem;
    color: black;
    font-size: 1.4em;
    font-family: url('./assests/futura/futur.ttf');
    
  }
  
  .nav-icon {
    display: none;
    cursor: pointer;
    color: white;
  }
  
  @media only screen and (max-width: 1200px) {
   .nav-links {  
    gap: 2rem;
    padding-left: 3rem;
  }

  
  }
  @media only screen and (max-width: 1100px) {
    .logo{
      width: 14rem;
    }
   
    .nav-links a {
      font-size: 1em;    
    }
  }
  @media only screen and (max-width: 980px) {
    .logo{
      width: 12rem;
    }
   
    .nav-links a {
      font-size: 1em;    
    }
  }
  @media only screen and (max-width: 880px) {
    .logo{
      width: 12rem;
    }
    .nav-links{
      gap: 1rem;
      padding-left: 1rem;
     }
    .nav-links a {
      font-size: 0.8em;    
    }
  }
  @media only screen and (max-width: 700px) {
    .logo{
      width: 10rem;
    }
    .nav-links a {
      margin: 1rem 0rem;
      font-size: 0.7em;    
    }
  }
  @media only screen and (max-width: 580px) {
    .navbar{
      height: 5rem;
      padding-bottom: 2rem;
    }
    .logo{
      transform: translate(25%,20%);
      width: 15rem;

    }
    
    .nav-links {
      position: fixed;
      top: 0;
      left:0;
      z-index: 100;
      height: 100vh;
      width: 100%;
      background-color: #54cfde;
      flex-direction: column;
      justify-content: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
    }
  
    .show-nav {
      transform: translateX(0);
      color: #333;
      
    }
  
    .hide-nav {
      transform: translateX(-100%);
    }
  
    .nav-icon {
      display: block;
      font-size: 1.5rem;
      z-index: 1000;
      transform: translate(160%,55%);
      color: #333;
    }
  
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba(235, 217, 217, 0.335);
      z-index: 100;
  
    }
  
    .nav-links a {
     z-index: 100;
      color: rgb(255, 255, 255);
      font-size: 1.4em;
    }
  }

  @media only screen and (max-width: 480px) {
    .logo{
      transform: translate(20%,20%);
      width: 14rem;

    }
    .nav-icon {
    
      transform: translate(120%,50%);
      color: #333;
    }
  }
  @media only screen and (max-width: 380px) {
    .logo{
      transform: translate(20%,20%);
      width: 12rem;

    }
    .nav-icon {
    
      transform: translate(120%,50%);
      color: #333;
    }
  }